span {
    color: green;
}

.amarelo {
    color: #ffff00;
    background-color: #007bb6
}

.amarelo:hover {
    color: red;
    font-style: italic;
}

div {
    background-color: #1ab7ea;
    padding: 5px 10px 15px 20px;
    border: dashed 3px #000000;
    margin: 10px;
}