{% extends 'produtos/produto_base.html' %}
{% block js %}
  <script type="application/javascript" src="/static/js/protutos.js">


  </script>
{% endblock %}
{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="well">
          <h3>Formulário de Produto</h3>

            {{ csrf_input() }}
            Categoria:
            {% macro select(nome) %}
              <select name="{{ nome }}">
                {% for cat in categorias %}
                  <option
                      value="{{ cat.key.id() }}" {{ 'selected="selected"' | safe if categoria_selecionada==cat }}> {{ cat.nome }}</option>
                {% endfor %}
              </select>
            {% endmacro %}
            {{ select('categoria') }}
            {{ form_input('Nome','nome','','') }}
            {{ form_input('Preco','preco','','') }}
            <button id="salvar-produto-btn" class="btn btn-success" >Salvar</button>
        <img id="ajax-img" src="/static/img/ajax.gif" />

          <div id="lista-div">
            <h3>Lista de Produtos {{ 'da categoria '+ categoria_selecionada.nome if categoria_selecionada }}</h3>

            <form action="{{ pesquisar_path }}">
              {{ select('categoria_selecionada') }}
              <button class="btn btn-primary" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </form>
            <ul id="produtos-lista">

            </ul>
          </div>
        </div>

      </div>

    </div>

  </div>

{% endblock %}