{% extends 'categorias/categoria_base.html' %}
{% block body %}
{% set categoria = categoria or None %}
{% set erros = erros or None %}
<div class="container">
    <div class="row">
    <div class="col-md-6 col-md-offset-3">
    <div class="well">
    <h3>Formulário de Categoria</h3>
    <form action="{{ salvar_path }}" method="post">
    {{ csrf_input() }}
    {{ form_input('Nome','nome',categoria.nome,erros.nome) }}
    {{ form_input('Quantidade','quantidade',categoria.quantidade,erros.quantidade) }}
    {% if categoria and categoria.key %}
    <input type="hidden" name="categoria_id" value="{{ categoria.key.id() }}" />
    {% endif %}
    <button class="btn btn-success" type="submit">Salvar</button>
</form>

</div>

</div>

</div>

</div>
{% endblock %}