{% extends 'categorias/categoria_base.html' %}
{% block body %}
<div class="container">
    <div class="row">
    <div class="col-md-6 col-md-offset-3">
    <div class="well">
    <h3>Formulário de Categoria</h3>
    <form action="{{ salvar_path }}" method="post">
    {{ csrf_input() }}
    {{ form_input('Nome','nome','','') }}
    {{ form_input('Quantidade','quantidade','','') }}
    <button class="btn btn-success" type="submit">Salvar</button>
</form>

<ul>
{% for cat in categorias %}
<li>{{ cat.nome }}
    <a class="btn btn-primary" href="{{ cat.edit_path }}">
    <i class="glyphicon glyphicon-pencil" ></i>
</a>
<form action="{{ cat.deletar_path }}" method="post">
{{ csrf_input() }}
<button class="btn btn-danger" ><i class="glyphicon glyphicon-trash" ></i></button>
</form>
</li>
{% endfor %}
</ul>

</div>

</div>

</div>

</div>
{% endblock %}